
.root {
    -fx-font-size: 150%;
}
.header {
    -fx-font-size: 200%;
    -fx-font-weight: bold;
}
.button {
    -fx-background-color: #63a5a0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field {
    -fx-min-width: 50;
    -fx-pref-width: 100;
    -fx-max-width: 500;
    -fx-pref-height: 25;
}
